{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["defaults"]
      }
    }],
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    "glamor/babel"
  ]
}
